.extension-article {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    font-size: 14px;

    .image-container {
        position: relative;
        width : 100%;
        height: 200px;

        img {
            width : 100%;
            height: 100%;
            overflow: hidden;
        }

        .title {
            position: absolute;
            justify-content: left;
            bottom: 40px;
            left : 5px;
            right: 5px;
            background-color: black;
            opacity: 0.8;
            font-size: 16px;
            cursor: pointer;

            span {
                color : white;
                font-weight: bold;
            }
        }

        .timestamp {
            position: absolute;
            justify-content: right;
            bottom: 10px;
            right: 5px;
            background-color: black;
            padding: 5px;
            opacity: 0.8;
            
            span {
                color : white;
                font-weight: bold;
            }
        }

        .show-content {
            position: absolute;
            justify-content: center;
            text-align: center;
            width : 50px;
            bottom: 10px;
            right: 45%;
            background-color: black;
            opacity: 0.8;
            cursor: pointer;
            
            .down-arrow {
                color : white;
                
            }
            
        }
    }

    .extension-article-content {
        
        font-size: 16px;
        margin: 10px;
        color: white;
        
        span {
            color: red;
            cursor: pointer;
        }
        &.hidden {
            display: none;
        }
    }
    
}

//Applies for desktop applications
@media (min-width:600px) {
    .extension-article {
        
        height: 100%;
        width: 100%;
        text-align: left;
    
        .image-container {
            position: relative;
            width : 100%;
            height: 100%;

            .title {
                position: absolute;
                justify-content: left;
                bottom: 50%;
                left : 5px;
                right: 5px;
                background-color: black;
                opacity: 0.8;
                font-size: 50px;
    
                span {
                    color : white;
                    font-weight: bold;
                }
            }
    
            .timestamp {
                position: absolute;
                justify-content: right;
                bottom: 10%;
                right: 10px;
                background-color: black;
                padding: 3px;
                opacity: 0.8;
                font-size: 50px;
                
                span {
                    color : white;
                    font-weight: bold;
                }
            }

            .show-content {
                position: absolute;
                justify-content: center;
                text-align: center;
                width: 100px;
                bottom: 10%;
                right: 45%;
                background-color: black;
                opacity: 0.8;
                
                .down-arrow {
                    color : white;
                    
                }
            }
        }

        .extension-article-content {
            
            

            &.hidden {
                display: none;
            }
        }
        
    }
}